.portfolio-card {
    background: linear-gradient(135deg, #45a049,#e2df0e );
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); text-align: center;
    width: px;   
}

.portfolio-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-bottom: 10px;
}

.activity-btn {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.activity-btn:hover {
  background-color: #45a049;
}


